@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: rgb(242, 245, 246);
}

* {
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px 0;
}

h1, h2 {
    margin-bottom: 10px 0;
}

h1{
    color: rgb(0, 153, 255);
}

hr{
    margin: 20px 0;
    border-bottom: 1px solid #CCC;
}

.max-width {
    max-width: 1280px;
    width: 100%;
}

.text-center {
    padding: 25px;
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    margin-top: 25px;
    padding: 20px;
}

.bg{
    background-color: var(--background-color);
}

.border-right {
    border-right: 2px solid #ccc;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

input[type="text"], textarea {
    padding: 10px;
    color: rgb(17, 134, 212);
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px rgb(15, 153, 207);
    border: 1px solid rgb(15, 153, 207);
}

span {
    font-weight: bold;
}

.red {
    color: red;
}

.btn {
    background-color: #111;
    color: #FFF;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: rgb(17, 134, 212);
}

.btn:active {
    background-color: rgb(55, 79, 95);
}

.btn-circle{
    background-color: rgb(17, 134, 212);
    color: #FFF;
    font-weight: bold;
    padding:5px;
    border-radius: 15%;
    font-size: .6em;
    cursor: pointer;
}

.btn-contador{
    background-color:rgb(17, 134, 212);
    color: #FFF;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-contador:active{
    background-color:rgb(11, 69, 107);
}

#modal{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    right: 0;
    background-color: rgba(17, 26, 42, 0.9);
}

#modal p, #modal h2{
    color: #FFF;
}

#modal-content{
    max-width: 800px;
    width: 100%;
    margin-top: 2%;
}